__pycache__
.ipynb_checkpoints
*.DS_Store
temp.py
*.vscode
test.ipynb
temp.ipynb
.ipynb_checkpoints
node_modules/.cache/prettier/.prettier-caches
.ruff_cache
.pytest_cache
.coverage
*.zip
*.hdf5
.conda